//COLORS
$primary_color: #232323;
$secundary_color: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
$terciary_color: #ffffff;

/* SIZES */
$splash_titles: 2.12rem;
$width_buttons: 40vw;

// $splash_titles_2: 2.5rem;
$splash_paragraphs: 1rem;
$walkthrough_titles: 1.25rem;
$walkthrough_paragraphs: 0.75rem;
$form_titles: 1.25rem;
$form_paragraphs: 0.87rem;
