<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Beats</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="header">
        <img class = "header__logo "src="../assests/Logo.png" alt="Logo Music Beats">
    </header>
    <main>
        <form action="" class="form">
            <label class="form__label"> Forget Password</label>
            <p class="form__paragraph__password">Have you forget your password ? 
                type your email below.</p>
            <input class="form__input" type="email" placeholder="Email">
            <button type="submit" class="form__button">Send</button>
        </form>
        
    </main>
   <footer class="footer__password">
        <div class="background__image"><div>
    </footer>
</body>
</html>