<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src="../assests/Logo.png" alt="">
    </header>

    <main>

    <form class="form" action="">
        <label class="form__label">Sign In your account</label>
        <input class="form__input" type="email" placeholder="Email">
        <input class="form__input" type="password" placeholder="Password">
        <p class="form__paragraph">Forget password?</p>
        <button class="form__button">Sign In</button>
    </form>

    </main> 

</body>
</html>