<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Music Beats</title>
  </head>
  <body>
    <header class="header">
      <img class="header__logo" src="../assests/logo/Logo.png" alt="" />
    </header>

    <main>
      <form class="form" action="">
        <label class="form__label">Sign Up your account</label>
        <input class="form__input" type="email" placeholder="Email" />
        <input class="form__input" type="text" placeholder="Name" />
        <input class="form__input" type="tel" placeholder="Phone Number" />
        <input class="form__input" type="password" placeholder="Password" />
        <p class="form__paragraph">
          Already have an account please <a href="#">Sign In</a>
        </p>
        <button class="form__button form__button__background__secundary">
          Sign Up
        </button>
      </form>
    </main>
    <div class="background__img"></div>
  </body>
</html>
