<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Music Beats</title>
  </head>
  <body>
    <div class="splash">
      <div class="splash__logo__container">
        <img src="../assests/logo/Logo.png" alt="Logo" />
      </div>

      <div class="verify__container">
        <div class="verify__container__slider">
          <img src="../assests/img/Slider_1.png" alt="" />
          <img src="../assests/img/Slider_2.png" alt="" />
          <img src="../assests/img/Slider_3.png" alt="" />
        </div>
        <h2>Listen to your favorite podcasts</h2>
        <p>
          Music is essential for life. Do listen everytime whenever you feel
          sad. Let’s enter to the music world.
        </p>
        <button class="form__button form__button__border__white">Verify</button>
      </div>
    </div>
  </body>
</html>
