<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Beats</title>
    <link rel="stylesheet" href="../sass/main.css" />
  </head>
  <body class="container_splash3">
    <header>
      <h2 class="title">New Way To <span>Discover</span></h2>
    </header>
    <main class="principal">
      <div class="principal__div">
        <img src="../assests/logo/Logo_2.png" alt="Logo Muusic beats" />
        <h1>Music Beats</h1>
      </div>

      <img
        class="principal__img"
        src="../assests/img/Headphones.png"
        alt="Headphones"
      />
    </main>
  </body>
</html>
