<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sass/main.css">
    <title>Document</title>
</head>

<body class="body">
    <header class="header">
        <h3 class="header__title">Listen to your <br> favorite podcasts</h3>
        <p class="header__paragraph">Lorem ipsum dolor sit amet, <br> consectetur sadipisicing.</p>
    </header>

    <div class="image">
        <img class="image__photo" src="../assests/img/splash_play.png" alt="">
    </div>

    <div class="footer">
        <div class="footer__container">
            <img src="../assests/img/Slider_1.png" alt="" />
            <img src="../assests/img/Slider_1.png" alt="" />
            <img src="../assests/img/Slider_ rectangle_1.png" alt="" />
        </div>
        <div class="footer__buttons">
            <button class="form__button form__button--border-secundary footer--width">Login</button>
            <button class="form__button form__button--border-secundary footer--width">Sign Up</button>
        </div>

    </div>


</body>

</html>