<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Beats</title>
    <link rel="stylesheet" href="../sass/main.css" />
  </head>
  <body>
    <main class="walkthrough__container">
      <div>
        <img class="img__container" src="../assests/img/Happy_Women.png" alt="" />
      </div>
        <h3>Music is a Dream</h3>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>

      <div class="walkthrough__container__slider slider">
        <img src="../assests/img/Slider_ rectangle_2.png" alt="" />
        <img src="../assests/img/Slider_ rectangle_3.png" alt="" />
        <img src="../assests/img/Slider_ rectangle_1.png" alt="" />
      </div>

      <p class="walkthrough__container__skip">Skip</p>
    </main>
  </body>
</html>
