@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@700&display=swap");
/* SIZES */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  color: #ffffff default;
}

.form__button {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__button--border-white {
  border: 2px solid #fff;
  background: transparent;
}
.form__button--border-secundary {
  border: 2px solid transparent;
  background: #232323;
  background-clip: padding-box;
  position: relative;
}
.form__button--border-secundary::before {
  background-image: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
  border-radius: 5px;
  bottom: -4px;
  content: "";
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
  z-index: -1;
}
.form__button--background-secundary {
  background: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
  color: #ffffff;
  border: none;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  -webkit-margin-before: 10vh;
          margin-block-start: 10vh;
  width: 20vw;
  height: 20vw;
}

.form {
  -webkit-margin-before: 5vh;
          margin-block-start: 5vh;
  display: grid;
  grid-template-columns: 70vw;
  justify-content: center;
}
.form__label {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0 auto;
}
.form__input {
  -webkit-margin-before: 6%;
          margin-block-start: 6%;
  -webkit-margin-after: 3%;
          margin-block-end: 3%;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 0.87rem;
  color: #7a7a7a;
  -webkit-padding-start: 8%;
          padding-inline-start: 8%;
  height: 5vh;
  border-radius: 5px;
  background: none;
  border: 1px solid #ffffff;
}
.form__paragraph {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  color: #ffffff;
  margin: 0 auto;
  width: 100%;
  -webkit-margin-before: 3%;
          margin-block-start: 3%;
  -webkit-margin-after: 8%;
          margin-block-end: 8%;
}
.form__paragraph a {
  text-decoration: none;
  color: #fe1163;
}

.footer {
  width: 100vw;
  height: 52vh;
  margin: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.background__img {
  overflow: hidden;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  height: 27vh;
  width: 100vw;
  background-image: url("../assests/img/Design_Lines_Forms.png");
}

.background__color__black {
  background-color: black;
}

.background__color__degradate {
  background-color: orange;
  border: 3px solid white;
}

/* export {
  background__color__black,
  background__color__degradate
} */
.form__paragraph--forget_password {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 0.87rem;
  color: #ffffff;
  line-height: 1.1rem;
  margin: 5% 13%;
  text-align: center;
}
.form__button--background-secundary {
  margin-top: 10%;
}

.form__paragraph--sign_in {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  color: #ffffff;
  margin: 0 0 0 58%;
  -webkit-margin-before: 3%;
          margin-block-start: 3%;
  -webkit-margin-after: 8%;
          margin-block-end: 8%;
  text-align: right;
}

.form__paragraph--sign_up {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  color: #ffffff;
  margin: 0 auto;
  width: 100%;
  -webkit-margin-before: 3%;
          margin-block-start: 3%;
  -webkit-margin-after: 8%;
          margin-block-end: 8%;
  text-align: center;
}
.form__paragraph--sign_up a {
  text-decoration: none;
  color: #fe1163;
}

.splash {
  align-items: center;
  background: #232323;
  background-image: url("../assests/img/Design_Lines.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}

.splash__logo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 55vh;
}

.verify__container {
  align-items: center;
  background: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45vh;
  padding: 1.93rem 1.9rem;
  width: 100%;
}
.verify__container h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 2.12rem;
  color: #ffffff;
}
.verify__container p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}
.verify__container button {
  margin: 0.5rem;
}

.verify__container__slider {
  align-self: center;
  background-color: transparent;
  gap: 0.5rem;
  height: 40%;
  margin: 0 0 2rem 0;
}

.container_splash3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-top: 10%;
  margin-left: 8%;
  line-height: 4rem;
}

.title span {
  padding-left: 45%;
}

.principal {
  margin-top: 12%;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.principal__div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 12%;
}

.principal__img {
  margin: -10% 0% 0% 25%;
}

.walkthrough__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0 2.93rem;
  border: 3px solid white;
}
.walkthrough__container h3 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 2rem 0 0 0;
}
.walkthrough__container p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #ffffff;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.walkthrough__container__skip {
  position: absolute;
  bottom: 64px;
  right: 47px;
}/*# sourceMappingURL=main.css.map */