@import './globals';
@import './sign_in_form';
@import './background_colors';
@use "./_buttons.scss";
@use "./_sign_in_form.scss";
@use "_fonts.scss";
@use "./_splash_screen_1.scss";
@use "./walkthrough_1";
@use "./sign_up_form.scss";



.container {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense; /*Para compactor lo que mas se pueda el layout*/
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); /*auto fill -> llenar como pueda este grid (LLena el espacio de columnas aunque estas queden vacias);función 
    minmax(valorminimo, valormaximo) -> solo se puede usar dentro de grid ( Te interpola para tener algo entre estos dos valores)
    auto-fit -> Esta función expande todas las columnas para llenar toda la fila
    * Esto es para hacerlo responsive
    */
}

