/* @use "./_background_colors.scss"; */
@import "./_buttons.scss";
@import "./_sign_in_form.scss";
@import "_fonts.scss";
@import "./_splash_screen_1.scss";
@import "./walkthrough_1";
@import "./sign_up_form.scss";
@import "./forget_password";
@import "./splash_screen_3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* div {
  width: 200px;
  height: 200px;
}
 */
