@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@700&display=swap");
:root {
  --primary_color: #000000;
  --secundary_color: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
}

.form__button {
  border-radius: 5px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__button__border__white {
  border: 2px solid #fff;
  background: transparent;
}
.form__button__border__secundary {
  border: 2px solid transparent;
  background: var(--primary_color);
  background-clip: padding-box;
  position: relative;
}
.form__button__border__secundary::before {
  background-image: var(--secundary_color);
  border-radius: 5px;
  bottom: -4px;
  content: "";
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
  z-index: -1;
}
.form__button__background__secundary {
  background: var(--secundary_color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  -webkit-margin-before: 10vh;
          margin-block-start: 10vh;
  width: 20vw;
  height: 20vw;
}

body {
  font-size: 62.5%;
  z-index: -1;
  background-color: #232323;
}

.form {
  -webkit-margin-before: 5vh;
          margin-block-start: 5vh;
  display: grid;
  grid-template-columns: 70vw;
  justify-content: center;
}
.form__label {
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  color: white;
}
.form__input {
  -webkit-margin-before: 6%;
          margin-block-start: 6%;
  -webkit-margin-after: 3%;
          margin-block-end: 3%;
  font-family: "poppins", sans-serif;
  -webkit-padding-start: 8%;
          padding-inline-start: 8%;
  height: 5vh;
  color: #7A7A7A;
  border-radius: 5px;
  background: none;
  border: 1px solid #FFFFFF;
}
.form__paragraph {
  color: white;
  margin: 0 0 0 58%;
  font-family: "poppins", sans-serif;
  -webkit-margin-before: 3%;
          margin-block-start: 3%;
  -webkit-margin-after: 8%;
          margin-block-end: 8%;
  font-size: 0.8rem;
}
.form__button {
  font-size: 1rem;
  margin: 0 auto;
  width: 50%;
  height: 5vh;
}

/* SIZES */
:root {
  --primary_color: #000000;
  --secundary_color: linear-gradient(180deg, #fe1163 1.62%, #fe4633 100%);
}

.form__button {
  border-radius: 5px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__button__border__white {
  border: 2px solid #fff;
  background: transparent;
}
.form__button__border__secundary {
  border: 2px solid transparent;
  background: var(--primary_color);
  background-clip: padding-box;
  position: relative;
}
.form__button__border__secundary::before {
  background-image: var(--secundary_color);
  border-radius: 5px;
  bottom: -4px;
  content: "";
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
  z-index: -1;
}
.form__button__background__secundary {
  background: var(--secundary_color);
}

/* SIZES */
.splash {
  align-items: center;
  background: #232323;
  background-image: url("../assests/img/Design_Lines.png");
  background-position: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}

.splash__logo__container {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: columns;
  height: 55vh;
  justify-content: space-between;
}

.verify__container {
  align-items: center;
  background: var(--secundary_color);
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-evenly;
  padding: 1.93rem 1.9rem;
  width: 100%;
}
.verify__container h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 2.12rem;
  color: #ffffff;
}
.verify__container p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}
.verify__container button {
  margin: 0.5rem;
}

.verify__container__slider {
  align-self: center;
  background-color: transparent;
  gap: 0.5rem;
  height: 40%;
  margin: 0 0 2rem 0;
}

/* @use "./_background_colors.scss"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* div {
  width: 200px;
  height: 200px;
}
 *//*# sourceMappingURL=main.css.map */